.navbar {
    height: 12rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.index-text {
    margin-top: 12rem;
}

@media screen and (min-width: 992px) {
    #navbarNav {
        padding-left: 12rem;
    }

    #navbarNav ul li {
        margin-right: 5rem;
    }

    #navbarNav ul li:hover {
        font-size: 1.1rem;
    }
}