body {
    padding-top: 300px;

}


.navbar {
    height: 12rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.index-text {
    margin-top: 14rem;
}

@media screen and (min-width: 992px) {
    #navbarNav {
        padding-left: 16rem;
    }

    #navbarNav ul li {
        margin-right: 5rem;
    }

    #navbarNav ul li:hover {
        font-size: 1.2rem;
    }


}

.carousel-item img {
    height: 700px;
}

/* .d-block.w-100{
    size:fl
} */